
.box{
    background-color: darkgoldenrod;
    /* padding: 2% 4%; */
    color: aliceblue;
   
}


.quest{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    transition: all 2.5s cubic-bezier(0,1,0,1);
}
.answ{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: all 2.5s cubic-bezier(0,1,0,1);
 
 
   
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-height: 400px;
     transition: all 2.5s cubic-bezier(0,1,0,1);
 

}